<!-- <script src="https://cdn.tailwindcss.com"></script> -->

<script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>

<div class="h-screen flex flex-col items-center" id="mainScreen">
    <div class="fixed flex flex-row w-screen h-16 items-center border-2">
        <!-- Header content -->
        <div class="flex flex-row ml-20">
            <p class="text-2xl font-mono font-bold">
                🐦
                Nemu
            </p>
        </div>

        <div class="grow"></div>
        
        <button hx-post="/signout"
                hx-trigger="click"
                hx-target="#mainScreen"
                hx-swap="outerHTML"
            class="border-2 pl-3 pr-3 pt-1 pb-1 mr-20 bg-rose-200 font-bold">
            Sign Out
        </button>
    </div>
    
    <div class="flex flex-row w-full h-full  pt-16"> <!-- Adjusted width and height, added padding top -->
        <!-- Sidebar -->
        <ul class="flex-none w-1/6 list-none p-0 m-0 space-y-5 pt-12 font-bold font-mono h-full border-2 flex flex-col items-center">
            <li> Random </li>
            <li> Anime </li>
            <li> Technology </li>
            <li> Sports </li>
            <li> Video Games </li>
            <li> Philosophy </li>
        </ul>

        <!-- Content Area -->
        <div id="posts-screen" class="flex flex-col flex-grow overflow-y-auto border-2 pt-4">
            <!-- Repeat the following div 20 times -->
            <!-- Example Post -->
<!--             
            <div 
            class="flex flex-col border-2 ml-12 mr-12 mt-2 mb-2 p-4 bg-zinc-100">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <div class="w-full flex mt-3">
                    <p>
                        ~ Username
                    </p>
                    <div class="grow"></div>
                    <button
                    class="border-2 pt-1 pb-1 pl-3 pr-3">
                        ➕ Comment
                    </button>
                </div>
            </div> -->
                
            
            <div hx-get="/app/posts/0"
                 hx-trigger="revealed"
                 hx-swap="afterend"
                 hx-target="this"
                 >
            
            </div>

            <div class="m-32"></div>

            <form id="postInputBox" hx-post="/app/post" hx-target="#posts-screen" hx-swap="afterbegin"
                  class="fixed bottom-0 w-5/6 flex items-center justify-center space-x-10 mb-4 ">
                    <textarea name="post-content" class="border-2  p-2 w-3/4 resize-none" rows="2" placeholder="Your text here"></textarea>
                    <input class="h-14 w-14  rounded-full border-2 bg-fuchsia-100" type="submit" value="➕">
            </form>
        </div>
    </div>
</div>
